body {
    width: 1440px;
    background-color: #FAEAD3;
    display: block;
    margin: 0 auto;
    position: relative;
  }
  .mainscreen {
    height: 920px;
    background-color: #FAEAD3;
  }
  .imgmain{
    display: inline-flex;
    flex-direction: column;
    margin-left: 369.5px;
    align-items: center;
  }
  .blockmain1{
    width: 408px;
    flex-shrink: 0;
    margin-left: 70px;
  }
  .pK{
    color: #120F16;
    font-family: Kazimir-Bold;
    font-size: 382px;
    font-weight: 700;
    transform: rotate(-8deg);
    position: absolute;
  }
  .pa{
    color: #FF5A00;
    font-family: Kazimir-Bold;
    font-size: 382px;
    font-weight: 700;
    transform: rotate(5deg);
    margin-top: 105px;
    position: absolute;
    margin-left: 170px;
  }
  .pz{
    color: #63A486;
    font-family: Kazimir-Bold;
    font-size: 527px;
    font-weight: 700;
    transform: rotate(5deg);
    text-align: center;
    margin-top: 191px;
  }
  .blockmain2{
    width: 305px;
    flex-shrink: 0;
    margin-left: 1048px;
  }
  .pi{
    color: #63A486;
    font-family: Kazimir-BoldItalic;
    font-size: 273px;
    font-style: italic;
    font-weight: 700;
    transform: rotate(5deg);
    position: absolute;
  }
  .pm{
    color: #120F16;
    font-family: Kazimir-Bold;
    font-size: 323px;
    font-weight: 700;
    transform: rotate(5deg);
    position: absolute;
    margin-top: 97px;
    margin-left: 2px;
  }
  .pi1{
    color: #FF5A00;
    font-family: Kazimir-BoldItalic;
    font-size: 341px;
    font-weight: 700;
    transform: rotate(30deg);
    position: absolute;
    margin-top: 258px;
    margin-left: 64px;
  }
  .pr{
    color: #120F16;
    font-family: Kazimir-Bold;
    font-size: 424px;
    font-weight: 700;
    transform: rotate(-8deg);
    margin-top: 350px;
    text-align: end;
  }
  .maindescr{
    display: inline-flex;
    padding: 0px 90px 20px 90px;
    align-items: center;
    gap: 821px;
    margin-top: 854px;
  }
  .pmain{
    color: #120F16;
    font-size: 32px;
  }
  .aboutscreen{
    background-color: #FF5A00;
    display: flex;
    align-items: center;
    gap: 109px;
  }
  .imgpiano{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .aboutfont{
    display: flex;
    width: 513px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    flex-shrink: 0;
  }
  h2{
    font-family: Kazimir-Medium;
    font-size: 64px;
    line-height: normal;
    line-height: 72px;
  }
  .h2about{
    color: #FAEAD3;
  }
  p{
    font-family: Kazimir-Regular;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .pitalic{
    color: #FAEAD3;
    font-family: Kazimir-Italic;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .hitalic{
    color: #FAEAD3;
    font-family: Kazimir-Italic;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .pabout{
    color: #FAEAD3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    align-self: stretch;
  }
  .outlinesscreen{
    height: 950px;
    background-color: #120F16;
    flex-shrink: 0;
  }
  .imgoutlinespiano{
    display: inline-flex;
height: 950px;
flex-direction: column;
justify-content: center;
align-items: center;
flex-shrink: 0;
  }
  .blockoutlines{
    display: inline-flex;
    padding: 16px 116px 16px 410px;
    align-items: center;
    gap: 131px;
  }
  .outlines{
    display: flex;
    width: 402px;
    flex-direction: column;
    align-items: flex-start;
    gap: 42px;
    color: rgba(99, 164, 134, 1);
  }
  .poutlines1{
    font-family: Kazimir-Light;
    font-size: 38px;
  }
  .poutlines2{
    font-family: Kazimir-LightItalic;
    font-size: 38px;
  }
  .poutlines3{
    font-family: Kazimir-Regular;
    font-size: 38px;
  }
  .poutlines4{
    font-family: Kazimir-Italic;
    font-size: 38px;
  }
  .poutlines5{
    font-family: Kazimir-Medium;
    font-size: 38px;
  }
  .poutlines6{
    font-family: Kazimir-MediumItalic;
    font-size: 38px;
  }
  .poutlines7{
    font-family: Kazimir-Bold;
    font-size: 38px;
  }
  .poutlines8{
    font-family: Kazimir-BoldItalic;
    font-size: 38px;
  }
  .poutlines9{
    font-family: Kazimir-Black;
    font-size: 38px;
  }
  .poutlines10{
    font-family: Kazimir-BlackItalic;
    font-size: 38px;
  }
  .poutlines{
    width: 381px;
    color: #FAEAD3;
  }


  .featuresscreen{
    height: 1533px;
    background-color: #FAEAD3;
  }
  .blockfeatures{
    display: flex;
    width: 438px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    margin-top: 100px;
    margin-left: 90px;
  }
  .h2feat{
    color: #FF5A00;
  }
  .pfeat{
    color: #120F16;
  }
  .imgfeatstick1{
    display: inline-flex;
    height: 462px;
    align-items: center;
    flex-shrink: 0;
    margin-top: 450px;
  }
  .imgfeatstick2{
    display: inline-flex;
    height: 839px;
    margin-top: 75px;
    margin-left: 755px;
  }
  .imgfeatxylophone{
    display: flex;
    width: 1301px;
    height: 703px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-top: 730px;
    margin-left: 70px;
  }
  .blocka{
    display: flex;
    width: 407px;
    align-items: flex-start;
    gap: 50px;
    margin-top: 120px;
    margin-left: 943px;
  }
  .pdrop{
    color: #120F16;
    font-size: 32px;
  }
  .h2a{
    color: #120F16;
    font-size: 450px;
    line-height: 46%;
    width: 263px;
    height: 240px;
    flex-shrink: 0;
  }
  .imgfeatdrop{
    margin-top: 114.45px;
    margin-left: 1078px;
  }
  .blocka2{
    display: inline-flex;
    align-items: flex-end;
    gap: 73px;
    margin-top: 463px;
    margin-left: 623px;
  }
  .pdrop2{
    color: #120F16;
    font-size: 32px;
  }
  .h2a2{
    color: #120F16;
    font-size: 500px;
    line-height: 43%;
    width: 306px;
    height: 259px;
  }
  .imgfeatdrop2{
    margin-top: 625.7px;
    margin-left: 826.95px;
  }
  .blockalf{
    width: 1257px;
    height: 518px;
    margin-top: 835px;
    margin-left: 92px;
    display: flex;
    flex-direction: row;
    gap: 51px;
  }
  .blockalf1{
    display: flex;
    width: 58px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: -7px;
  }
  .blalf{
    width: 58px;
    height: 80px;
  }
  .palf{
    color: #FAEAD3;
    text-align: center;
    font-family: "Kazimir-Medium";
    font-size: 56px;
  }
  .blockalf2{
    display: flex;
    width: 58px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: -7px;
    margin-top: 5px;
  }
  .blockalf3{
    display: flex;
    width: 58px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: -7px;
    margin-top: 20px;
  }
  .blockalf4{
    display: flex;
    width: 58px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: -7px;
    margin-top: 35px;
  }
  .blockalf5{
    display: flex;
    width: 58px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: -7px;
    margin-top: 50px;
  }
  .blockalf6{
    display: flex;
    width: 58px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: -7px;
    margin-top: 65px;
  }
  .blockalf7{
    display: flex;
    width: 58px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: -7px;
    margin-top: 85px;
  }
  .blockalf8{
    display: flex;
    width: 58px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: -7px;
    margin-top: 60px;
  }
  .blockalf9{
    display: flex;
    width: 58px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: -7px;
    margin-top: 105px;
  }
  .blockalf10{
    display: flex;
    width: 58px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: -7px;
    margin-top: 100px;
  }
  .blockalf11{
    display: flex;
    width: 58px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: -7px;
    margin-top: 110px;
  }
  .blockalf12{
    display: flex;
    width: 58px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: -7px;
    margin-top: 120px;
  }


  .languagesscreen{
    height: 887px;
    background-color: #FF5A00;
    display: flex;
    justify-content: flex-end;
  }
  .imglanguage{
    align-items: center;
  }
  .blocklanguage{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 100px;
    margin-right: 90px;
    width: 801px;
    gap: 102px;
  }
  .h2lang{
    color: #FAEAD3;
    text-align: right;
  }
  .lang{
    align-self: stretch;
    display: flex;
    flex-direction: row;
    gap: 131px;
    height: 352px;
  }
  .lang1{
    display: flex;
    width: 197px;
    flex-direction: column;
    align-items:center;
    gap: 68px;
  }
  .lang2{
    position: relative;
    margin-top: 60px;
    display: flex;
    width: 188px;
    flex-direction: column;
    align-items: center;
    gap: 68px;
  }
  .lang3{
    display: flex;
    width: 154px;
    flex-direction: column;
    align-items:center;
    gap: 68px;
  }
  .plang{
    color: #FAEAD3;
    font-size: 36px;
    text-align: center;
  }


  .ligaturesscreen{
    height: 820px;
    background-color: #120F16;
  }
  .imgligatures{
    display: inline-flex;
    padding-left: 0px;
    justify-content: flex-end;
    align-items: center;
    margin-top: 100px;
    margin-left: 72px;
  }
  .imgligaturesnot{
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
  }
  .blockligatures{
    display: flex;
    width: 546px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    padding-top: 100px;
    margin-left: 90px;
  }
  .h2leg{
    color: #FAEAD3;
  }
  .pleg{
    color: #FAEAD3;
  }
  .fileg{
    color: #FAEAD3;
    font-family: 'KazimirText-Medium';
    font-size: 116px;
    transform: rotate(-8deg);
    margin-top: 255px;
    margin-left: 740px;
  }
  .stleg{
    color: #FAEAD3;
    font-family: 'KazimirText-Medium';
    font-size: 116px;
    transform: rotate(-4deg);
    margin-top: 200px;
    margin-left: 880px;
  }
  .ffleg{
    color: #FAEAD3;
    font-family: 'KazimirText-Medium';
    font-size: 116px;
    transform: rotate(-4deg);
    margin-top: 145px;
    margin-left: 1060px;
  }
  .flleg{
    color: #FAEAD3;
    font-family: 'KazimirText-Medium';
    font-size: 116px;
    transform: rotate(4deg);
    margin-top: 180px;
    margin-left: 1255px;
  }
  .applicationscreen{
    height: 1063px;
    background-color: #FAEAD3;
  }
footer{
    display: flex;
    padding: 40px 90px;
    align-items: flex-end;
    gap: 653px;
    background-color: #120F16;
}
.blockfooter{
  width: 297px;
  height: 92px;
  flex-shrink: 0;
}
.pfooter{
  color: #FFF;
  font-size: 32px;
}
.imgfooter{
  width: 309.953px;
  height: 120px;
  flex-shrink: 0;
}
